{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1566997784561,"hash":"e2daeb72e6256f89819be1fa28510250f5000a90"}